<%= javascript_include_tag "contact_form" %>

<div class="contact-form">
  <div class="fixed-action-btn tooltipped" data-position="top" data-delay="50" data-tooltip="Contact me">
    <a class="btn-floating btn-large waves-effect waves-light" href="#contact">
      <i class="material-icons">chat</i>
    </a>
  </div>
  <div id="contact" class="modal">
    <div class="modal-content">
      <h4>Contact Me</h4>
      <div class="row">
        <div class="col s12">
          If you'd like to talk about a project or a role that you think I could help out with, feel free to reach out via phone or email or, if you prefer, the form below.
        </div>
      </div>
      <div class="row">
        <div class="col s3 contact-info">
          <div>Josh Prince</div>
          <div><a href="mailto:josh@jprince.codes">josh@jprince.codes</a></div>
          <div>978.331.0801</div>
        </div>
        <div class="col s9">
          <%= form_for @contact_form, remote: true do |f| %>
            <div class="row">
              <div class="input-field col s6">
                <label for="full_name">Full Name</label>
                <%= f.text_field :full_name, id: 'full_name' %>
              </div>
              <div class="input-field col s6">
                <label for="email">Email</label>
                <%= f.email_field :email, id: 'email' %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="message">Message</label>
                <%= f.text_area :message, id: 'message', class: 'materialize-textarea' %>
              </div>
            </div>

            <%= f.submit 'Send', class: 'btn', disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-action modal-close btn-flat">Dismiss</button>
    </div>
  </div>
</div>
