<%= javascript_include_tag "home" %>

<div class="container center-align">
  <div class="row">
    <h1>I &nbsp; solve &nbsp; problems</h1>
  </div>
  <div class="row">
    <h2>with an emphasis on:</h2>
    <div class="col s4 development-value">
      <div class="card grey lighten-4">
        <i class="material-icons large maintainability-icon">build</i>
        <div>Maintainability</div>
      </div>
    </div>
    <div class="col s4 development-value">
      <div class="card grey lighten-4">
        <i class="material-icons large scalability-icon">trending_up</i>
        <div>Scalability</div>
      </div>
    </div>
    <div class="col s4 development-value">
      <div class="card grey lighten-4">
        <i class="material-icons large testability-icon">done</i>
        <div>Testability</div>
      </div>
    </div>
  </div>
  <div class="row portfolio">
    <div class="col s12">
      <h3><a href="/portfolio">Portfolio</a></h3>
    </div>
    <div class="col s12">
      <a href="/portfolio" class="row valign-wrapper">
        <%= image_tag 'portfolio/arcadia-analytics-home.png', class: "col s4" %>
        <%= image_tag 'portfolio/kanburn-loading.gif', class: "col s4"  %>
        <%= image_tag 'portfolio/kings-corner-entry.png', class: "col s4"  %>
      </a>
    </div>
  </div>
  <div class="row professional-experience">
    <div class="col s12">
      <h3>Professional Experience</h3>
    </div>
    <div class="col s6 experience-arcadia">
      <%= image_tag 'arcadia-logo.png' %>
      <a class="btn-floating waves-effect waves-light" href="#arcadia-modal"><i class="material-icons">add</i></a>
      <div id="arcadia-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Arcadia Healthcare Solutions</h4>
          <div class="row company-description">
            <div class="col s8 offset-s2">Healthcare data aggregator and analytics company that enables clients to improve efficiency, profitability, and, most importantly, patient outcomes.</div>
          </div>
          <div class="row left-align">
            <div class="col s10 offset-s1">
              <div class="role-description">Lead Engineer &nbsp;|&nbsp; March 2013 - Present</div>
              <ul>
                <li>Lead a team of seven FTEs and as many as 15 contractors in the development and maintenance of Arcadia’s web applications, including our flagship Analytics product.
                <li>Conduct bi-weekly 1-on-1’s with team members, evaluating their engagement and satisfaction, sharing feedback, discussing issues or concerns, and looking for opportunities to align their strengths, interests, and goals with their role.
                <li>Actively contribute to team code reviews, emphasizing consistent standards and patterns, and maximization of maintainability, quality, and learning.
                <li>Personally responsible for candidate sourcing and screening (responsibility for subsequent interviewing is shared amongst the team).  Since development of Arcadia Analytics began in late 2013, the team has tripled in size.
                <li>Work closely with product management to review and clarify user stories and ensure that developed work is consistent with the product vision.
                <li>Maintain a backlog of “technical debt” tasks and refactorings.  The backlog is reviewed, groomed, and reprioritized monthly, as a team, so that the highest priority tasks can be advocated for inclusion in upcoming releases.
                <li>Plan and facilitate Engineering-wide retrospectives at the conclusion of releases.  Feedback and proposed improvements have since been incorporated into departmental processes and policies.
                <li>Developed processes and identified tools to facilitate collaboration amongst distributed team members (necessitated by my relocation to Austin).  Within six months of doing so we’ve successfully onboarded 16 additional remote resources.
                <li>Championed the adoption of “innovation day,” a once-monthly opportunity for individuals to step away from their day-to-day responsibilities and collaboratively address technical and process issues.  The success of this program within our Engineering department has led to its adoption company-wide.
                <li>Advocated for and subsequently planned/orchestrated two internal hackathons.  Datathon is an annual event focused on identifying and visualizing thought-provoking stories found in our Benchmark Database.  Many of the concepts ideated during these hackathons were incubated and eventually developed into “pieces” in <a href="http://datagallery.arcadiasolutions.com/" target="_blank">Arcadia’s data gallery</a>.
                <li>Nominated by executive leadership to serve on a cross-functional Leadership committee, comprised of mid to executive level leaders, tasked with evaluating and improving organizational culture and policies.
              </ul>
              <hr>
              <div class="role-description">Technical Consultant &nbsp;|&nbsp; September 2011 - February 2013</div>
              <ul>
                <li>Designed and developed a claims data warehouse and ETL process to load and store health plan claims.  Claims data was then integrated with clinical EMR data in reports used by the health plan and member clinics to reduce costs and improve the quality of care provided.
                <li>Developed clinical reports that quantify both EMR utilization and quality of care for payer and provider clients.  Reports can be executed on demand and encompass a range of clinical quality measures, including Meaningful Use, ACO, PCMH, HEDIS, and NQF.  Client is using these reports to evaluate provider and organization performance.
                <li>Upgraded pediatric practice EHR systems; discussed upgrade logistics with staff, configured and customized the system based on client workflows, tested core functionality and customizations, resolved issues, and supported the practices post-go-live.
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-action modal-close btn-flat">Dismiss</button>
        </div>
      </div>
    </div>
    <div class="col s6 experience-ahp">
      <%= image_tag 'ahp-logo.png' %>
      <a class="btn-floating waves-effect waves-light" href="#ahp-modal"><i class="material-icons">add</i></a>
      <div id="ahp-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Advocates for Human Potential</h4>
          <div class="row company-description">
            <div class="col s8 offset-s2">Healthcare consulting firm specializing in mental health, substance use, criminal justice, employment and housing issues.  AHP contracts primarily with state and federal agencies.</div>
          </div>
          <div class="row left-align">
            <div class="col s10 offset-s1">
              <div class="role-description">Business Analyst &nbsp;|&nbsp; May 2009 - September 2011</div>
              <ul>
                <li>Managed development of a social networking community website for professionals in the behavioral health field.  Ensured that scheduled tasks were accomplished on time and within budget, supervising subcontracted staff as they programmed requested features.  Designed training curricula on the use and management of the community and delivered remote and face-to-face training to stakeholders and client staff, later developing the curricula into eLearning courses.
                <li>Managed the redesign of the company website.
                <li>Documented business and technical requirements for several government web sites.
                <li>Developed a corporate SOP for web design and development projects.  In addition to ensuring quality and standardization, the SOP is used to educate non-technical stakeholders on the individuals and processes that comprise a web development project.
              </ul>
              <hr>
              <div class="role-description">Student Intern Business Analyst &nbsp;|&nbsp; June 2008 - May 2009</div>
              <ul>
                <li>Conducted market research on electronic health records, health information exchange, patient-centered medical homes, and business process management.  Results and recommendations were presented to Executive Leadership.
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-action modal-close btn-flat">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row education">
    <div class="col s12">
      <h3>Education</h3>
    </div>
    <div class="col s12 education-bu">
      <%= image_tag 'bu-logo.png' %>
      <a class="btn-floating waves-effect waves-light" href="#bu-modal"><i class="material-icons">add</i></a>
      <div id="bu-modal" class="modal">
        <div class="modal-content">
          <h4>Boston University</h4>
          <div class="row left-align">
            <div class="col s12 center-align">
              <div class="role-description">Bachelor of Arts in Economics and Mathematics | May 2009</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-action modal-close btn-flat">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row technical-skills">
    <div class="col s12">
      <h3>Technical Skills</h3>
    </div>
    <div class="col s12">
      <div class="skills-chart">
        <!-- To create new versions of this image, select all elements on the ppt slide and click 'save as picture' -->
        <%= image_tag 'skills-chart.png' %>
        <a class="btn-floating waves-effect waves-light" href="#skills-modal"><i class="material-icons">add</i></a>
        <div id="skills-modal" class="modal">
          <div class="modal-content">
            <h4>Technical Skills</h4>
            <div class="row">
              <div class="col s4">
                <div class="role-description">Languages</div>
                <p>
                  Ruby<br>
                  Javascript<br>
                  SQL<br>
                  HTML<br>
                  CSS<br>
                  Elixir*
                </p>
              </div>
              <div class="col s4">
                <div class="role-description">Frameworks</div>
                <p>
                  Rails<br>
                  AngularJS (1.x)<br>
                  Angular (2+)<br>
                  React<br>
                  Meteor<br>
                </p>
              </div>
              <div class="col s4">
                <div class="role-description">Notable Libraries</div>
                <p>
                  jQuery<br>
                  D3.js<br>
                  Docker<br>
                  Redis<br>
                  GraphQL*
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-action modal-close btn-flat">Dismiss</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
